extends layout

block content
  .row.banner
    .col-12
      h1 Cappuccino
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p 
          .card.card-primary
            .card-block
              h2.card-title Cappuccino
              p.card-text Our cappuccino is made with the perfect blend of espresso, steamed milk, and frothed milk. The frothed milk creates a velvety texture and a delicious flavor.
              h3.card-title Cost
              ul
               
                li Cappuccino: &#8377; 200
               
             
              a.btn.btn-primary.float-right(href='#') Add Cappuccino
              
          .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Food Picture
              img.img-fluid.rounded(src='/images/coffee.png', alt='Food served at Roast')
    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            
            a.btn.btn-primary.float-right(href='/location/review/new') Add review
            h2.card-title Customer reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                
                span.review Pawala
                
                small.review Timestamp 16 February 2023
              .col-12
                p Cappuccino was great
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Arjun
                small.reviewTimestamp 14 February 2013
              .col-12
                p It was Okay
    .col-12.col-lg-3
      p.lead
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.