extends layout

block content
  .row.banner
  .col-12
    img(src="images/Roast logo.png", alt="Roast Logo", class="img-fluid", style="max-width: 200px;") // Adjust the max-width as needed
    h1 Roast 
    small &nbsp;A place with a Great Wifi and a Greater Coffee 

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Roast
          small &nbsp;
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
          i.far.fa-star
          span.badge.badge-pill.badge-default.float-right 100m
          p.address Madhapur 
          p.facilities
            span.badge.badge-warning Comfortable Seating 
            span.badge.badge-warning Great Food
            span.badge.badge-warning Premium wifi
            span.badge.badge-warning Pet-Friendly Area

    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Perhaps with coffee, cake or a pint? Then Roast is The Place you are looking for
