extends layout

block content
  .row.banner
    .col-12
      img(src="images/roastlogo.png", alt="Roast Logo", class="img-fluid", style="max-width: 200px;") // Adjust the max-width as needed
      h1 Roast
      small &nbsp;

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Cappuccino
          small &nbsp;
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
          i.far.fa-star
         
          .row
            .col-6
              p.facilities
                span.badge.badge-warning Cappuccino is a coffee drink made with espresso, steamed milk,
                span.badge.badge-warning  and frothed milk.The frothed milk creates a velvety texture
                span.badge.badge-warning  and a distinctive layer on top of the espresso.
                span.badge.badge-warningIt is often served with a sprinkle of cinnamon or cocoa powder.
            .col-6
              img(src="images/coffee.png", alt="Cappuccino Image", class="img-fluid")

    .col-12.col-md-4
      p.lead